:root {
  --gold: #94806f;
  --index-satisfaction-bg: #1c3161;
  --list-style-gold: #948980;
  --light-bg: #808070;
  --dark-bg: #333333;
  --res-det-text: #727272;
  --res-det-title: #3d3d3d;
}

body {
  font-family: 'Poppins', sans-serif;
}

.pt-6 {
  padding-top: 8rem !important;
}

.ps-6 {
  padding-left: 8rem !important;
}
.pb-6{
  padding-bottom: 8rem !important;
}

#page-numbers>a {
  width: 45px;
  height: 45px;
}

.border-gold {
  border-color: var(--gold);
}

.border-20 {
  border-style: solid;
  border-top-width: 20px;
}

/* --------- FONTS --------- */
.font-playfair-display {
  font-family: "Playfair Display", serif;
  font-weight: 400 !important;
}

.font-poppins {
  font-family: "Poppins", sans-serif;
}

.text-al-jstfy {
  text-align: justify;
}

.text-al-last {
  text-align-last: center;
}

.font-extralight {
  font-weight: 200;
}

/* --------- NEGATIVE MARGIN --------- */
.mt-n5 {
  margin-top: -50px !important;
}

.mt-n3 {
  margin-top: -35px !important;
}

.bg-negative-white {
  background-color: #ffffff;
}

/* --------- HEADER --------- */
.header {
  z-index: 9;
}

.header-nav>li>a {
  font-size: 12px;
  color: #fff;
  font-weight: 500;
}

.header-nav>li>a.active {
  background: -moz-linear-gradient(0% 50% 0deg, rgba(148, 128, 111, 1) 0%, rgba(128, 126, 94, 1) 48.85%, rgba(128, 106, 77, 1) 100%);
  background: -webkit-linear-gradient(0deg, rgba(148, 128, 111, 1) 0%, rgba(128, 126, 94, 1) 48.85%, rgba(128, 106, 77, 1) 100%);
  background: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0, rgba(148, 128, 111, 1)), color-stop(0.4885, rgba(128, 126, 94, 1)), color-stop(1, rgba(128, 106, 77, 1)));
  background: -o-linear-gradient(0deg, rgba(148, 128, 111, 1) 0%, rgba(128, 126, 94, 1) 48.85%, rgba(128, 106, 77, 1) 100%);
  background: -ms-linear-gradient(0deg, rgba(148, 128, 111, 1) 0%, rgba(128, 126, 94, 1) 48.85%, rgba(128, 106, 77, 1) 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#94806F', endColorstr='#806A4D' ,GradientType=0)";
  background: linear-gradient(90deg, rgba(148, 128, 111, 1) 0%, rgba(128, 126, 94, 1) 48.85%, rgba(128, 106, 77, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#94806F', endColorstr='#806A4D', GradientType=1);
  color: #fff !important;
}

.header-nav>li>a:hover {
  color: rgba(128, 106, 77, 1) !important;
}

.header-nav .dropdown-menu li>a {
  font-size: 12px;
  color: rgba(128, 106, 77, 1) !important;
  font-weight: 500;
}

.chat-box {
  top: 0;
  right: 0;
  width: 200px;
  height: 100%;
}

.btn-whatsapp {
  position: absolute;
  right: 63%;
  top: 12%;
}

.btn-phone {
  position: absolute;
  right: 35%;
  top: 17%;
}

.btn-telegram {
  position: absolute;
  right: 53%;
  top: 25%;
}

.btn-chat {
  position: absolute;
  right: 0px;
  top: 51%;
}

.btn-chat::before {
  background: #A08070;
  content: "";
  position: absolute;
  width: 39px;
  height: 142px;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 20px;
  left: 0;
  border-radius: 0 0 0 30px;
}

.chat-box .btn-chat .text {
  position: absolute;
  transform: rotate(-90deg);
  transform-origin: 0 0;
  bottom: 25px;
  color: #fff;
  white-space: nowrap;
  left: 7px;
}

.chat-box .btn-chat .circle {
  background: -moz-linear-gradient(0% 50% 0deg, rgba(0, 25, 42, 1) 0.06%, rgba(28, 49, 108, 1) 100%);
  background: -webkit-linear-gradient(0deg, rgba(0, 25, 42, 1) 0.06%, rgba(28, 49, 108, 1) 100%);
  background: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0.0006, rgba(0, 25, 42, 1)), color-stop(1, rgba(28, 49, 108, 1)));
  background: -o-linear-gradient(0deg, rgba(0, 25, 42, 1) 0.06%, rgba(28, 49, 108, 1) 100%);
  background: -ms-linear-gradient(0deg, rgba(0, 25, 42, 1) 0.06%, rgba(28, 49, 108, 1) 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#00192A', endColorstr='#1C316C' ,GradientType=0)";
  background: linear-gradient(90deg, rgba(0, 25, 42, 1) 0.06%, rgba(28, 49, 108, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00192A', endColorstr='#1C316C', GradientType=1);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  left: -13px;
  position: relative;
  bottom: -5px;
}

.slider-text {
  position: absolute;
  bottom: 15%;
  right: 10%;
  color: #fff;
  text-align: right;
  font-weight: 600;
  text-shadow: 4px 4px 10px black;
}


/* --------- FOOTER --------- */
.footer-bg {
  background-image: url("../img/img-index/footer-bg.jpg");
  background-size: cover;
  height: 655px;
}

.footer-border-gradient {
  border: 10px solid;
  border-image-slice: 1;
  border-width: 2px;
}

.footer-border-gradient-gold {
  border-image-source: -moz-linear-gradient(0% 50% 0deg,
      rgba(148, 128, 111, 1) 0%,
      rgba(255, 188, 113, 1) 50%,
      rgba(128, 106, 77, 1) 100%);
  border-image-source: -webkit-linear-gradient(0deg,
      rgba(148, 128, 111, 1) 0%,
      rgba(255, 188, 113, 1) 50%,
      rgba(128, 106, 77, 1) 100%);
  border-image-source: -webkit-gradient(linear,
      0% 50%,
      100% 50%,
      color-stop(0, rgba(148, 128, 111, 1)),
      color-stop(0.5, rgba(255, 188, 113, 1)),
      color-stop(1, rgba(128, 106, 77, 1)));
  border-image-source: -o-linear-gradient(0deg,
      rgba(148, 128, 111, 1) 0%,
      rgba(255, 188, 113, 1) 50%,
      rgba(128, 106, 77, 1) 100%);
  border-image-source: -ms-linear-gradient(0deg,
      rgba(148, 128, 111, 1) 0%,
      rgba(255, 188, 113, 1) 50%,
      rgba(128, 106, 77, 1) 100%);
  border-image-source: linear-gradient(90deg,
      rgba(148, 128, 111, 1) 0%,
      rgba(255, 188, 113, 1) 50%,
      rgba(128, 106, 77, 1) 100%);
}

.icon-gold {
  color: var(--gold) !important;
}

/* --------- 1- INDEX --------- */

.page-name {
  font-family: "Poppins", sans-serif;
}

/* --------- Detailed Filter --------- */
.selection-text-dark>option {
  color: #0b0b0b !important;
}

.index-shadow-9 {
  box-shadow: 0 0.5rem 1rem rgba(var(--bs-body-color-rgb), 0.9);
}

.bg-dark-blue-gradient {
  background: -moz-linear-gradient(12.13% 2009.87% 0deg,
      rgba(0, 21, 42, 1) 0%,
      rgba(28, 49, 97, 1) 100%);
  background: -webkit-linear-gradient(0deg,
      rgba(0, 21, 42, 1) 0%,
      rgba(28, 49, 97, 1) 100%);
  background: -webkit-gradient(linear,
      12.13% 2009.87%,
      102.99% 2009.87%,
      color-stop(0, rgba(0, 21, 42, 1)),
      color-stop(1, rgba(28, 49, 97, 1)));
  background: -o-linear-gradient(0deg,
      rgba(0, 21, 42, 1) 0%,
      rgba(28, 49, 97, 1) 100%);
  background: -ms-linear-gradient(0deg,
      rgba(0, 21, 42, 1) 0%,
      rgba(28, 49, 97, 1) 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#00152A', endColorstr='#1C3161' ,GradientType=0)";
  background: linear-gradient(90deg,
      rgba(0, 21, 42, 1) 0%,
      rgba(28, 49, 97, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00152A', endColorstr='#1C3161', GradientType=1);
}

/* --------- Index Section About Us --------- */
.section-about-us-bg-diamond {
  background-image: url("../img/diamond-bg.jpg");
  background-size: 120%;
  background-repeat: no-repeat;
  background-position: left top;
}


/* --------- Index Section Region --------- */


/* --------- Index Section Favorite projects --------- */
.fav-prj-bg {
  background-image: url("../img/blue-gradient-bg.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}

.index-fav-prj-mySwiper {
  padding: 50px 0;
}

.index-fav-prj-swp-btn-position-bottom {
  bottom: 270px !important;
}

.index-fav-prj-mySwiper .swiper-pagination-bullet {
  background-color: rgba(255, 255, 255, .9) !important;
}

.index-fav-prj-mySwiper .swiper-pagination-bullet-active {
  background-color: var(--gold) !important;
}

.index-fav-prj-swp-btn-position {
  position: inherit !important;
}

/* --------- Index Section Property Management --------- */
#section-property-management {
  background-image: url("../img/property-management-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* --------- Index Section Services --------- */
.index-sec-services-bg {
  background-color: #232428;
}

.services-title {
  font-size: 100px
}

.services-title::before {
  content: "";
  position: absolute;
  right: 110%;
  top: 0;
  height: 2px;
  width: 70px;
  background: #fff;
}

.ul-marker-removed {
  list-style-type: none;
}

/* --------- Index Section References --------- */
.index-references-bg {
  background-image: url("../img/references-bg.jpg");
  background-size: cover;
  background-position: bottom left;
}

.img-card {
  height: 500px;
}

.img-card-320 {
  height: 320px;
}

.bg-white {
  background-color: white;
}

.index-swp-btn-position-left {
  left: 50px;
  right: auto;
}

/* --------- Index Section Satisfaction --------- */
.index-satisfaction-bg {
  background-color: var(--index-satisfaction-bg);
}

.icon-dark-blue {
  color: var(--index-satisfaction-bg);
}

/* --------- 2- ABOUT US --------- */
.about-us-header-bg {
  background-image: url("../img/img-index/home-header-bg.jpg");
  background-size: cover;
  height: 820px;
}

.about-us-section-1-bg {
  background-image: url("../img/img-about-us/about-us-diamond.jpg");
  background-position: right;
  background-size: auto;
  background-repeat: no-repeat;
}

.about-us-gold {
  color: var(--gold);
}

/* h kullanmayınca ayarlayamadığım için position ve z-index ile çözdüm
.about-us-section-2-bg {
  background-image: url("../img/img-about-us/about-us-bg-family.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  height: 1227px;
} */

/* --------- 3- TURKEY GUIDE --------- */
.tr-guide-position-right {
  left: auto;
  right: 50px;
}

.tr-guide-position-ab-top {
  top: -27%;
}

.tr-guide-swp-btn-position-top {
  top: 50px;
}

.tr-guide-mySwiper {
  padding: 100px 0;
}

.tr-guide-mySwiper .swiper-slide {
  transform: scale(1);
  z-index: 0;
  position: relative;
  transition: all 0.2s ease-in;
}

.tr-guide-mySwiper .card-desc {
  opacity: 0;
  visibility: hidden;
}

.tr-guide-mySwiper .swiper-slide:hover .card-desc {
  opacity: 1;
  visibility: visible;
}

.tr-guide-mySwiper .swiper-slide:hover {
  transform: scale(1.05);
  z-index: 1;
  transition: all 0.2s ease-in;
  box-shadow: 0 0.5rem 1rem rgba(var(--bs-body-color-rgb), 0.9);
}

.pointer-events-none {
  pointer-events: none;
}

.tr-guide-list li a {
  padding: 5% 15%;
}

.tr-guide-list li a:hover {
  background: -moz-linear-gradient(0% 50% 0deg,
      rgba(0, 25, 42, 1) 0.06%,
      rgba(28, 49, 108, 1) 100%);
  background: -webkit-linear-gradient(0deg,
      rgba(0, 25, 42, 1) 0.06%,
      rgba(28, 49, 108, 1) 100%);
  background: -webkit-gradient(linear,
      0% 50%,
      100% 50%,
      color-stop(0.0006, rgba(0, 25, 42, 1)),
      color-stop(1, rgba(28, 49, 108, 1)));
  background: -o-linear-gradient(0deg,
      rgba(0, 25, 42, 1) 0.06%,
      rgba(28, 49, 108, 1) 100%);
  background: -ms-linear-gradient(0deg,
      rgba(0, 25, 42, 1) 0.06%,
      rgba(28, 49, 108, 1) 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#00192A', endColorstr='#1C316C' ,GradientType=0)";
  background: linear-gradient(90deg,
      rgba(0, 25, 42, 1) 0.06%,
      rgba(28, 49, 108, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00192A', endColorstr='#1C316C', GradientType=1);
  color: #ffffff !important;
}

/* --------- 4-REAL ESTATE MAIN --------- */
.bg-gold {
  background-color: var(--gold);
}

.text-gold {
  color: var(--gold);
}

.real-est-shadow {
  border: 0;
  box-shadow: 0 0rem 1rem .1rem rgba(var(--bs-body-color-rgb), .3) !important;
}

.btn-dark {
  background-color: #282a2e;
}

.res-overlay {
  top: 20px;
  left: 20px;
}

.res-select {
  background: none;
}

.res-select-col {
  position: relative;
}

.res-select-col:after {
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #fff;
  position: absolute;
  top: 40%;
  right: 45px;
  content: "";
  z-index: 98;
  pointer-events: none;
}

.selection-bg>option {
  background-color: var(--gold);
}

.real-estate-dark-blue-gradient {
  background: -moz-linear-gradient(0% 50% 0deg,
      rgba(0, 25, 42, 1) 0.06%,
      rgba(28, 49, 108, 1) 100%);
  background: -webkit-linear-gradient(0deg,
      rgba(0, 25, 42, 1) 0.06%,
      rgba(28, 49, 108, 1) 100%);
  background: -webkit-gradient(linear,
      0% 50%,
      100% 50%,
      color-stop(0.0006, rgba(0, 25, 42, 1)),
      color-stop(1, rgba(28, 49, 108, 1)));
  background: -o-linear-gradient(0deg,
      rgba(0, 25, 42, 1) 0.06%,
      rgba(28, 49, 108, 1) 100%);
  background: -ms-linear-gradient(0deg,
      rgba(0, 25, 42, 1) 0.06%,
      rgba(28, 49, 108, 1) 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#00192A', endColorstr='#1C316C' ,GradientType=0)";
  background: linear-gradient(90deg,
      rgba(0, 25, 42, 1) 0.06%,
      rgba(28, 49, 108, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00192A', endColorstr='#1C316C', GradientType=1);
}

/* Real Estate Detail */

.res-det-text-color {
  color: var(--res-det-text);
}

.res-det-text-darker {
  color: var(--res-det-title);
}


/* --------- res-det-swiper 3 --------- */

.res-det-swp-btn-position-bottom {
  top: 250px;
  /* transform: translateY(-75%); */
}

/* --------- 5- CITIZENSHIP PROGRAM --------- */
.citizenship-light-bg {
  background-color: var(--light-bg);
}

.citizenship-dark-bg {
  background-color: var(--dark-bg);
}

.ctz-swp-btn-position-bottom {
  bottom: 0%;
}

.ctz-mySwiper {
  padding: 100px 0;
}

.ctz-mySwiper .swiper-slide:nth-child(1n) {
  transform: translateY(30px);
}

.ctz-mySwiper .swiper-slide:nth-child(2n) {
  transform: translateY(-100px);
}

.ctz-mySwiper .swiper-slide:nth-child(3n) {
  transform: translateY(-20px);
}

.ctz-mySwiper .swiper-slide:hover {}

.ctz-list-gold {
  list-style: none;
}

.ctz-list-gold li::before {
  content: "\f287 ";
  font-family: bootstrap-icons !important;
  color: var(--list-style-gold);
  padding-right: 10px;
  position: relative;
  top: -2px;
  font-size: 0.6rem;
}

.ctz-select-bg {
  background-color: var(--list-style-gold);
}

td img {
  width: 50px;
  height: 35px;
}

/* --------- 6- SERVICES --------- */

/* --------- 7- PROPERTY MANAGEMENT --------- */
.prop-management-bg-input {
  background-image: url("../img/img-propety-management/property-management-sea.jpg");
  background-color: #bdc94c;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
}

.prop-management-bg-button {
  background: -moz-linear-gradient(0% 50% 0deg, rgba(148, 128, 111, 1) 0%, rgba(128, 126, 94, 1) 48.85%, rgba(128, 106, 77, 1) 100%);
  background: -webkit-linear-gradient(0deg, rgba(148, 128, 111, 1) 0%, rgba(128, 126, 94, 1) 48.85%, rgba(128, 106, 77, 1) 100%);
  background: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0, rgba(148, 128, 111, 1)), color-stop(0.4885, rgba(128, 126, 94, 1)), color-stop(1, rgba(128, 106, 77, 1)));
  background: -o-linear-gradient(0deg, rgba(148, 128, 111, 1) 0%, rgba(128, 126, 94, 1) 48.85%, rgba(128, 106, 77, 1) 100%);
  background: -ms-linear-gradient(0deg, rgba(148, 128, 111, 1) 0%, rgba(128, 126, 94, 1) 48.85%, rgba(128, 106, 77, 1) 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#94806F', endColorstr='#806A4D' ,GradientType=0)";
  background: linear-gradient(90deg, rgba(148, 128, 111, 1) 0%, rgba(128, 126, 94, 1) 48.85%, rgba(128, 106, 77, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#94806F', endColorstr='#806A4D', GradientType=1);
}

/* --------- 8-BLOG --------- */
.rotate-vertical {
  rotate: -90deg;
}

.text-gray {
  color: #c4c4c4;
}

.vr-black {
  color: black;
}

.rigt-side-bar {
  position: absolute;
  height: 60%;
  background-color: #0b0b0b;
  display: block;
  width: 2px;
  bottom: 10%;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.blog-sidebar-border {
  position: relative;
  height: 2px;
  background-color: #c4c4c4;
  margin-bottom: 20px;
  display: block;
}

.blog-sidebar-border::before {
  content: "";
  position: absolute;
  width: 35%;
  background-color: #232428;
  height: 2px;
  left: 0;
  top: 0;
}

.blog-vertical-title {
  font-size: 115px;
  transform-origin: center;
  transform: translatex(-95px);
}

/* --------- 9- CONTACT --------- */
.form-control::placeholder {
  color: #000000;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  padding-left: 0px;
}

/* --------- BACKGROUNDS FROM Ai ---------*/
.bg-gold-gradient {
  background: -moz-linear-gradient(0% 50% 0deg,
      rgba(148, 128, 111, 1) 0%,
      rgba(128, 126, 94, 1) 48.85%,
      rgba(128, 106, 77, 1) 100%);
  background: -webkit-linear-gradient(0deg,
      rgba(148, 128, 111, 1) 0%,
      rgba(128, 126, 94, 1) 48.85%,
      rgba(128, 106, 77, 1) 100%);
  background: -webkit-gradient(linear,
      0% 50%,
      100% 50%,
      color-stop(0, rgba(148, 128, 111, 1)),
      color-stop(0.4885, rgba(128, 126, 94, 1)),
      color-stop(1, rgba(128, 106, 77, 1)));
  background: -o-linear-gradient(0deg,
      rgba(148, 128, 111, 1) 0%,
      rgba(128, 126, 94, 1) 48.85%,
      rgba(128, 106, 77, 1) 100%);
  background: -ms-linear-gradient(0deg,
      rgba(148, 128, 111, 1) 0%,
      rgba(128, 126, 94, 1) 48.85%,
      rgba(128, 106, 77, 1) 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#94806F', endColorstr='#806A4D' ,GradientType=0)";
  background: linear-gradient(90deg,
      rgba(148, 128, 111, 1) 0%,
      rgba(128, 126, 94, 1) 48.85%,
      rgba(128, 106, 77, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#94806F', endColorstr='#806A4D', GradientType=1);
}

.sec-services {
  position: relative;
  padding: 0;
  height: 310px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: #000000;
}

.sec-services a {
  color: #fff;
  text-decoration: none;
  width: 100%;
  height: 100%;
  text-align: center;
}

.sec-services span {
  position: relative;
  z-index: 1;
}

.region-img {
  width: 120%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all .3s ease-in-out;
}

.sec-services:hover .region-img {
  opacity: .7;
  -webkit-filter: grayscale(100%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  width: 140%;
  transition: all .3s ease-in-out;
}

.card.text-bg-dark {
  position: relative;
  background-size: 100%;
  background-position: center;
  border: 0;
  transition: background-size .5s ease-in-out;
}

.card.text-bg-dark::before {
  background: rgba(0, 0, 0, .7);
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  content: "";
  transition: all .3s ease-in-out;
}

.card.text-bg-dark:hover {
  transition: background-size .5s ease-in-out;
  background-size: 110%;
}

.card.text-bg-dark:hover::before {
  background: rgba(0, 0, 0, .3);
  transition: all .2s ease-in-out;
}

#section-property-management .form-label {
  text-shadow: 1px 1px 5px black;
}