:root {
  --gold: #94806f;
  --index-satisfaction-bg: #1C3161;
  --list-style-gold: #948980;
  --light-bg: #808070;
  --dark-bg: #333333;
  --res-det-text: #727272;
  --res-det-title: #3d3d3d;
}

#page-numbers > a {
  width: 45px;
  height: 45px;
}

.border-gold {
  border-color: var(--gold);
}

.border-20 {
  border-style: solid;
  border-top-width: 20px;
}


/* --------- FONTS --------- */
.font-playfair-display {
  font-family: "Playfair Display", serif;
}

.font-poppins {
  font-family: "Poppins", sans-serif;
}

.text-al-jstfy {
  text-align: justify;
}

.text-al-last {
  text-align-last: center;
}

.font-extralight {
  font-weight: 200;
}

/* --------- NEGATIVE MARGIN --------- */
.mt-n5 {
  margin-top: -50px !important;
}

.mt-n3 {
  margin-top: -35px !important;
}

.bg-negative-white {
  background-color: #ffffff;
}


/* --------- HEADER --------- */
.header-bg-index {
  background-image: url("../img/img-index/home-header-bg.jpg");
  background-color: #bdc94c;
  background-size: cover;
  background-position: center;
  height: 1080px; /* burası olmazsa fotoğrafın kendi boyutunun tamamını kullanması gerekmez mi, neden kırpıyor yüksekliği sabitlemezsem? */

  /* contain kullandık cover yerine mümkün olduğunca yükseklik vermeden çöz ki responsive tarafı kolay olsun */
}


/* --------- FOOTER --------- */
.footer-bg {
  background-image: url("../img/img-index/footer-bg.jpg");
  background-size: cover;
  height: 655px;
}

.footer-border-gradient {
  border: 10px solid;
  border-image-slice: 1;
  border-width: 2px;
}

.footer-border-gradient-gold {
  border-image-source: -moz-linear-gradient(
    0% 50% 0deg,
    rgba(148, 128, 111, 1) 0%,
    rgba(255, 188, 113, 1) 50%,
    rgba(128, 106, 77, 1) 100%
  );
  border-image-source: -webkit-linear-gradient(
    0deg,
    rgba(148, 128, 111, 1) 0%,
    rgba(255, 188, 113, 1) 50%,
    rgba(128, 106, 77, 1) 100%
  );
  border-image-source: -webkit-gradient(
    linear,
    0% 50%,
    100% 50%,
    color-stop(0, rgba(148, 128, 111, 1)),
    color-stop(0.5, rgba(255, 188, 113, 1)),
    color-stop(1, rgba(128, 106, 77, 1))
  );
  border-image-source: -o-linear-gradient(
    0deg,
    rgba(148, 128, 111, 1) 0%,
    rgba(255, 188, 113, 1) 50%,
    rgba(128, 106, 77, 1) 100%
  );
  border-image-source: -ms-linear-gradient(
    0deg,
    rgba(148, 128, 111, 1) 0%,
    rgba(255, 188, 113, 1) 50%,
    rgba(128, 106, 77, 1) 100%
  );
  border-image-source: linear-gradient(
    90deg,
    rgba(148, 128, 111, 1) 0%,
    rgba(255, 188, 113, 1) 50%,
    rgba(128, 106, 77, 1) 100%
  );
}

.icon-gold {
  color: var(--gold) !important;
}


/* --------- 1- INDEX --------- */
.section-about-us {
  font-family: "Poppins", sans-serif;
}
.page-name {
  font-family: "Poppins", sans-serif;
}

/* --------- Index Section About Us --------- */
.section-about-us-bg-diamond {
  background-image: url("../img/img-index/diamond.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right bottom;
}

#section-reg.ions h1 {
  font-weight: 300;
}

#section-regions h2 {
  font-weight: 100;
}

/* --------- Index Section Region --------- */
.marmara-reg-bg {
  background-image: url("../img/img-index/marmara-reg.jpg");
  background-size: cover;
  height: 484px;
}

.aegean-reg-bg {
  background-image: url("../img/img-index/aegean-reg.jpg");
  background-size: cover;
  height: 484px;
}
.meditarrenean-reg-bg {
  background-image: url("../img/img-index/mediterranean-reg.jpg");
  background-size: cover;
  height: 484px;
}
.central-anatolia-reg-bg {
  background-image: url("../img/img-index/central-anatolia-reg.jpg");
  background-size: cover;
  height: 484px;
}
.eastern-anatolia-reg-bg {
  background-image: url("../img/img-index/eastern-anatolia-reg.jpg");
  background-size: cover;
  height: 484px;
}
.black-sea-reg-bg {
  background-image: url("../img/img-index/black-sea-reg.jpg");
  background-size: cover;
  height: 484px;
}
.home-citizenship-bg {
  background-image: url("https://picsum.photos/1920/950");
  background-size: cover;
  height: 950px;
}

/* --------- Index Section Favorite projects --------- */
/* .Favorite-projects
{
  background : -moz-linear-gradient(12.13% 2009.87% 0deg,rgba(0, 21, 42, 1) 0%,rgba(28, 49, 97, 1) 100%);
  background : -webkit-linear-gradient(0deg, rgba(0, 21, 42, 1) 0%, rgba(28, 49, 97, 1) 100%);
  background : -webkit-gradient(linear,12.13% 2009.87% ,102.99% 2009.87% ,color-stop(0,rgba(0, 21, 42, 1) ),color-stop(1,rgba(28, 49, 97, 1) ));
  background : -o-linear-gradient(0deg, rgba(0, 21, 42, 1) 0%, rgba(28, 49, 97, 1) 100%);
  background : -ms-linear-gradient(0deg, rgba(0, 21, 42, 1) 0%, rgba(28, 49, 97, 1) 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#00152A', endColorstr='#1C3161' ,GradientType=0)";
  background : linear-gradient(90deg, rgba(0, 21, 42, 1) 0%, rgba(28, 49, 97, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00152A',endColorstr='#1C3161' , GradientType=1);
} */

/* --------- Index Section Services --------- */
.index-sec-services-bg {
  background-color: #232428;
}

.ul-marker-removed {
  list-style-type: none;
}

/* --------- Index Section References --------- */
.index-references-bg {
  background-image: url("../img/img-index/index-referances-bg.jpg");
  background-size: cover;
  height: 880px;
}

/* --------- Index Section Satisfaction --------- */
.index-satisfaction-bg {
  background-color: var(--index-satisfaction-bg);
}



/* --------- 2- ABOUT US --------- */
.about-us-header-bg {
  background-image: url("../img/img-index/home-header-bg.jpg");
  background-size: cover;
  height: 820px;
}

.about-us-section-1-bg {
  background-image: url("../img/img-about-us/about-us-diamond.jpg");
  background-position: right;
  background-size: auto;
  background-repeat: no-repeat;
}

.about-us-gold {
  color: var(--gold);
}

.about-us-section-2-bg {
  background-image: url("../img/img-about-us/about-us-bg-family.jpg");
  background-size: cover;
  background-position: center center;
  height: 1227px;
}


/* --------- 3- TURKEY GUIDE --------- */
.tr-guide-position-right {
  left: auto;
  right: 50px;
}

.tr-guide-position-ab-top {
  top: -27%;
}

.tr-guide-swp-btn-position-top {
  top:50px;
}

.tr-guide-mySwiper {
  padding: 100px 0;
}

.tr-guide-mySwiper .swiper-slide {
  transform: scale(1);
  z-index: 0;
  position: relative;
  transition: all .2s ease-in;
}


.tr-guide-mySwiper .card-desc{
  opacity:0;
  visibility: hidden;
}

.tr-guide-mySwiper .swiper-slide:hover .card-desc{
  opacity:1;
  visibility: visible;
}

.tr-guide-mySwiper .swiper-slide:hover {
  transform: scale(1.05);
  z-index: 1;
  transition: all .2s ease-in;
  box-shadow: 0 0.5rem 1rem rgba(var(--bs-body-color-rgb), 0.9);
}

.pointer-events-none{
  pointer-events: none;
}

.tr-guide-list li a{
  padding: 5% 15%;
}
.tr-guide-list li a:hover {

  background: -moz-linear-gradient(
    0% 50% 0deg,
    rgba(0, 25, 42, 1) 0.06%,
    rgba(28, 49, 108, 1) 100%
  );
  background: -webkit-linear-gradient(
    0deg,
    rgba(0, 25, 42, 1) 0.06%,
    rgba(28, 49, 108, 1) 100%
  );
  background: -webkit-gradient(
    linear,
    0% 50%,
    100% 50%,
    color-stop(0.0006, rgba(0, 25, 42, 1)),
    color-stop(1, rgba(28, 49, 108, 1))
  );
  background: -o-linear-gradient(
    0deg,
    rgba(0, 25, 42, 1) 0.06%,
    rgba(28, 49, 108, 1) 100%
  );
  background: -ms-linear-gradient(
    0deg,
    rgba(0, 25, 42, 1) 0.06%,
    rgba(28, 49, 108, 1) 100%
  );
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#00192A', endColorstr='#1C316C' ,GradientType=0)";
  background: linear-gradient(
    90deg,
    rgba(0, 25, 42, 1) 0.06%,
    rgba(28, 49, 108, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00192A',endColorstr='#1C316C' , GradientType=1);
  color: #ffffff !important;
}


/* --------- 4-REAL ESTATE MAIN --------- */
.bg-gold {
  background-color: var(--gold);
}

.text-gold {
  color: var(--gold);
}

.real-est-shadow {
  box-shadow: 0 0.5rem 1rem rgba(var(--bs-body-color-rgb), 0.4);
}

.btn-dark {
  background-color: #282a2e;
}

.res-overlay {
  top: 20px;
  left: 20px;
}

.res-select {
  background: none;
}

.res-select-col {
  position: relative;
}

.res-select-col:after {
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #fff;
  position: absolute;
  top: 40%;
  right: 45px;
  content: "";
  z-index: 98;
  pointer-events: none;
}

#select-mini > option {
  background-color: var(--gold);
}

.real-estate-dark-blue-gradient {
  background: -moz-linear-gradient(
    0% 50% 0deg,
    rgba(0, 25, 42, 1) 0.06%,
    rgba(28, 49, 108, 1) 100%
  );
  background: -webkit-linear-gradient(
    0deg,
    rgba(0, 25, 42, 1) 0.06%,
    rgba(28, 49, 108, 1) 100%
  );
  background: -webkit-gradient(
    linear,
    0% 50%,
    100% 50%,
    color-stop(0.0006, rgba(0, 25, 42, 1)),
    color-stop(1, rgba(28, 49, 108, 1))
  );
  background: -o-linear-gradient(
    0deg,
    rgba(0, 25, 42, 1) 0.06%,
    rgba(28, 49, 108, 1) 100%
  );
  background: -ms-linear-gradient(
    0deg,
    rgba(0, 25, 42, 1) 0.06%,
    rgba(28, 49, 108, 1) 100%
  );
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#00192A', endColorstr='#1C316C' ,GradientType=0)";
  background: linear-gradient(
    90deg,
    rgba(0, 25, 42, 1) 0.06%,
    rgba(28, 49, 108, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00192A',endColorstr='#1C316C' , GradientType=1);
}

/* REAL ESTATE DETAIL */

.res-det-text-color {
  color: var(--res-det-text);
}

.res-det-text-darker {
  color: var(--res-det-title);
}
/* swiper 1*/
/* html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
} */

/* .swiper {
  width: 100%;
  height: 100%;
} */
/* .res-det-outer-mySwiper {

} */

/* .res-det-outer-mySwiper .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.res-det-outer-mySwiper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
} */

/* --------- res-det-swiper 2 --------- */
.res-det-apt-inner-mySwiper {
  padding: 100px 0;
}

.res-det-apt-inner-mySwiper .swiper-slide {
  transform: scale(1);
  z-index: 0;
  position: relative;
  transition: all .3s ease-in;
}

.res-det-apt-inner-mySwiper .swiper-slide:hover {
  transform: scale(1.1);
  z-index: 1;
  transition: all .3s ease-in;
  box-shadow: 0 0.5rem 1rem rgba(var(--bs-body-color-rgb), 0.9);
}



/* --------- 5- CITIZENSHIP PROGRAM --------- */
.citizenship-light-bg {
  background-color: var(--light-bg);
}

.citizenship-dark-bg {
  background-color: var(--dark-bg);
}

.ctz-swp-btn-position-bottom {
  bottom: 0%;
}

.ctz-mySwiper {
  padding: 100px 0;
}

.ctz-mySwiper .swiper-slide:nth-child(1n) {
  transform: translateY(30px);
}
.ctz-mySwiper .swiper-slide:nth-child(2n) {
  transform: translateY(-100px);
}
.ctz-mySwiper .swiper-slide:nth-child(3n) {
  transform: translateY(-20px);
}

.ctz-mySwiper .swiper-slide:hover {
}

.ctz-list-gold {
   list-style: none;
}

.ctz-list-gold  li::before {
  content: "\f287 ";
  font-family: bootstrap-icons !important;
  color: var(--list-style-gold);
  padding-right: 10px;
  position: relative;
  top: -2px;
  font-size: .6rem;
}

.ctz-select-bg {
  background-color: var(--list-style-gold);
}

td img {
  width: 50px;
  height: 35px;
}


/* --------- 6- SERVICES --------- */

/* --------- 7- PROPERTY MANAGEMENT --------- */
.prop-management-bg-input {
  background-image: url("../img/img-propety-management/property-management-sea.jpg");
  background-color: #bdc94c;
  background-size: cover;
  background-position: center;
  height: 675px;
}

.prop-management-bg-button {
  background-color: #0d6289;
}


/* --------- 8-BLOG --------- */
.rotate-vertical {
  rotate: -90deg;
}

.text-gray {
  color: #c4c4c4;
}

.vr-black {
  color: black;
}

.rigt-side-bar {
  position: absolute;
  height: 60%;
  background-color: #0b0b0b;
  display: block;
  width: 2px;
  bottom: 10%;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.blog-sidebar-border {
  position: relative;
  height: 2px;
  background-color: #c4c4c4;
  margin-bottom: 20px;
  display: block;
}

.blog-sidebar-border::before {
  content: "";
  position: absolute;
  width: 35%;
  background-color: #232428;
  height: 2px;
  left: 0;
  top: 0;
}

.blog-vertical-title {
  font-size: 115px;
  transform-origin: center;
  transform: translatex(-95px);
}


/* --------- 9- CONTACT --------- */
.form-control::placeholder {
  color: #000000;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  padding-left: 0px;
}


/* --------- BACKGROUNDS FROM Ai ---------*/
.bg-gold-gradient {
  background : -moz-linear-gradient(0% 50% 0deg,rgba(148, 128, 111, 1) 0%,rgba(128, 126, 94, 1) 48.85%,rgba(128, 106, 77, 1) 100%);
  background : -webkit-linear-gradient(0deg, rgba(148, 128, 111, 1) 0%, rgba(128, 126, 94, 1) 48.85%, rgba(128, 106, 77, 1) 100%);
  background : -webkit-gradient(linear,0% 50% ,100% 50% ,color-stop(0,rgba(148, 128, 111, 1) ),color-stop(0.4885,rgba(128, 126, 94, 1) ),color-stop(1,rgba(128, 106, 77, 1) ));
  background : -o-linear-gradient(0deg, rgba(148, 128, 111, 1) 0%, rgba(128, 126, 94, 1) 48.85%, rgba(128, 106, 77, 1) 100%);
  background : -ms-linear-gradient(0deg, rgba(148, 128, 111, 1) 0%, rgba(128, 126, 94, 1) 48.85%, rgba(128, 106, 77, 1) 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#94806F', endColorstr='#806A4D' ,GradientType=0)";
  background : linear-gradient(90deg, rgba(148, 128, 111, 1) 0%, rgba(128, 126, 94, 1) 48.85%, rgba(128, 106, 77, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#94806F',endColorstr='#806A4D' , GradientType=1);
}






